.DS_Store                                                              
**/node_modules
node_modules/
week-7-cy-automation
week-6-JS-Challenge
week-6-cy-automation
week-5.1-JS-Challenge
week-5-JS-chellenges
week-4-js-algorithms
week-3.1-js-algorithms
week-3-js-algorithms
resume-website
html-css
__MACOSX